In [19]:
from collections import Counter

x = "blablabooboo"
u = Counter(x)
used_freq = []
del_count = 0
for i,j in u.items():
   while j>0 and j in used_freq:
      j-=1
      del_count += 1
   used_freq.append(j)

In [20]:
del_count

2

In [15]:
def minDeletions( s: str) -> int:
        cnt = Counter(s)
        deletions = 0
        used_frequencies = set()
        
        for char, freq in cnt.items():
            while freq > 0 and freq in used_frequencies:
                freq -= 1
                deletions += 1
            used_frequencies.add(freq)
            
        return deletions

In [16]:
minDeletions(x)

2

In [9]:
u.items()

dict_items([('b', 4), ('l', 2), ('a', 2), ('o', 4)])

In [42]:
import pandas as pd
data = [[1, 100], [2, 200]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})

In [33]:
sorted(employee.salary.drop_duplicates().values)[1]

200

In [29]:
data

[[1, 100], [2, 300], [3, 200], [4, 100]]

In [24]:
ans = [sorted(employee.salary.drop_duplicates().values)[1]]
u = pd.DataFrame(ans , columns=['SecondHighestSalary'])

In [39]:

emp = sorted(employee.salary.drop_duplicates().values)
if len(emp)>=2:
    ans = [emp[1]]
    b = pd.DataFrame(ans, columns=['SecondHighestSalary']).astype({'SecondHighestSalary':'int64'})
else:
    b = pd.DataFrame({'SecondHighestSalary': [None]})

In [40]:
b

   SecondHighestSalary
0                  200

In [41]:
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    # Drop any duplicate salary values to avoid counting duplicates as separate salary ranks
    unique_salaries = employee['salary'].drop_duplicates()

    # Sort the unique salaries in descending order and get the second highest salary
    second_highest = unique_salaries.nlargest(2).iloc[-1] if len(unique_salaries) >= 2 else None

    # If the second highest salary doesn't exist (e.g., there are fewer than two unique salaries), return None
    if second_highest is None:
        return pd.DataFrame({'SecondHighestSalary': [None]})

    # Create a DataFrame with the second highest salary
    result_df = pd.DataFrame({'SecondHighestSalary': [second_highest]})

    return result_df

In [43]:
second_highest_salary(employee)

   SecondHighestSalary
0                  100